
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Offline</title>
</head>
<body style="background-color:#000000">
    <div>
        <span style="color:yellow; font-size:30px;">Public Service Request Application is offline at the moment.  Please try again later.</span> 
    </div>
</body>
</html>
